.InstaCarouselMedia{
 
    img{
       width: 655px;
       height: 655px;
    }

    .carousel-indicators{
        position: absolute;
        right: 0;
        bottom: 57px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;

        li{
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
}