.InstagramTagsFeed{
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    min-width: 90%;
    width: 90%;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    padding: 60px 0;

    * div > {
        margin-right: 0px;
        flex: 1 1 25%;
        box-sizing: border-box;
        padding: 0px 10px 10px 0px;
        max-width: 25%;
    }
}