$page-card-width: 450px;

.AddNewPage{
    
    .header{
        border: 0;
        position: relative;
        z-index: 10;
        padding: 0px 48px;
        padding-left: 46px;
        margin-bottom: 18px;
        border-bottom: 1px solid #dad0d0;
    }

}