.DropSowns{
    

    .DropSowns-content{
        flex: 1 1 auto;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: stretch flex-start;
        align-items: stretch;

        .icon-wrap{
            flex: 1 1 30%;
            box-sizing: border-box;
            max-width: 30%;
            border-left: 1px solid lightgrey;
            flex-direction: column;
            display: flex;
            place-content: center;
            align-items: center;

            .parent-icon{
                

            }
        }

        
    }
}