.Header {
  position: fixed;
  top: 0;
  background: white;
  transition: top 0.3s ease-in-out;
  width: 100%;
  box-sizing: content-box;
  text-transform: uppercase;
  z-index: 100; }
  .Header.nav-up {
    top: -77px; }
  .Header article {
    display: flex;
    align-items: flex-end center;
    justify-content: space-between;
    width: 98%;
    padding: 0 2%; }

.MenuLink {
  position: relative;
  text-decoration: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 2.9375rem;
  font-size: 1rem;
  padding: 0 .125rem;
  margin: 0 .5rem; }
  .MenuLink:hover {
    color: black; }
  .MenuLink.active .activeItemIndicator {
    visibility: visible;
    width: 100%;
    transition: all 0.2s;
    transition-delay: 0; }
  .MenuLink .activeItemIndicator {
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    transition: all 0.1s;
    transition-delay: 0.1s; }

.menu-wrap {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 13px; }
  .menu-wrap a {
    text-decoration: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    line-height: 2.9375rem;
    font-size: 1rem;
    color: 38352C;
    padding: 0 .125rem;
    margin: 0 .5rem; }
  .menu-wrap a:hover {
      color: #E1BD64; }

.Logo {
  cursor: pointer; }
  .Logo img {
    padding: 5px;
    margin: 5px; }

.PhoneNumber {
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  direction: rtl;
  padding: 3px; }
  .PhoneNumber span {
    margin: 10px; }

.CellNumber {
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  direction: rtl; }
  .CellNumber span {
    margin: 10px; }

.FaxNumber {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  direction: rtl;
  padding: 8px 16px;
  margin: 10px; }
  .FaxNumber span {
    margin: 10px; }

.Address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  direction: rtl;
  padding: 8px 16px;
  margin: 10px; }
  .Address span {
    margin: 10px; }

.Footer {
  padding: 2rem 2rem;
  width: 100%;
  height: 300px;
  background: url("/static/footer-bg.png") no-repeat;
  background-size: cover;
  background-position-x: 100%;
  position: relative; }
  @media only screen and (max-width: 74.9375em) {
    .Footer {
      background-position-y: -15%; } }
  @media only screen and (max-width: 39.9375em) {
    .Footer {
      background-position-y: 0%; } }
  .Footer .container {
    position: absolute;
    left: 0;
    right: 0;
    flex-direction: column; }
  .Footer .container .top-level {
      flex-wrap: wrap;
      flex-direction: row;
      display: flex; }
  .Footer .container .top-level .rocki-logo {
        padding: 0 18px; }
  .Footer .container .top-level .more-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        flex: 3; }
  .Footer .container .top-level .more-info .conatct-info {
          display: flex;
          flex-direction: column; }
  .Footer .container .top-level .menu-links-wrapper {
        display: flex;
        flex: 1;
        direction: rtl;
        align-items: center; }
  .Footer .container .top-level .menu-links-wrapper .menu-links {
          display: flex; }
  .Footer .container .bottom-level .copyright {
      text-align: center;
      padding: 19px;
      direction: rtl; }

