
.FaxNumber {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    direction: rtl;
    padding: 8px 16px;
    margin: 10px;

    span {
        margin: 10px;
    }
}